<p-toast />
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"><p style="color: white" > Veuillez patienter</p></ngx-spinner>
<h4>Gestion des provinces</h4>

<div class="grid">
    <div class="col zoomin animation-duration-200">
        <p-panel header="Edition de région">
            <form class="form" (ngSubmit)="save()" [formGroup]="editForm">
                <div class="field grid">
                    <label for="nom" class="text-900 font-medium col-10 mb-2 md:col-2 md:mb-0">Nom</label>
                    <div class="col-12 md:col-10">
                        <input id="nom" type="text" placeholder="Nom de la province" formControlName="nom" pInputText class="p-3 w-full md:w-34rem mb-2" style="padding:1rem">
                    </div>
                </div>
                <div class="field grid">
                    <label for="region" class="text-900 font-medium col-10 mb-2 md:col-2 md:mb-0">Région</label>
                    <div class="col-12 md:col-10">
                        <p-dropdown id="region" formControlName="region" [options]="regions" optionLabel="nom" [showClear]="true" placeholder="Selectionner une région" styleClass="p-1 w-full md:w-34rem mb-2"/>
                    </div>
                </div>
                <div class="field grid">
                    <label for="desc" class="text-900 font-medium col-10 mb-2 md:col-2 md:mb-0">Description</label>
                    <div class="col-12 md:col-10">
                        <textarea id="desc" placeholder="Description" rows="4" class="surface-overlay p-3 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" style="padding:1rem"></textarea>
                    </div>
                </div>
                <div class="flex align-items-end justify-content-end">
                    <button type="button" pButton pRipple [outlined]="true" label="Annuler" icon="fa fa-home" class="mr-2" severity="warning" size="small" (click)="resetForm()" [disabled]="editForm.invalid"></button>
                    <button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-save" size="small" [disabled]="editForm.invalid"></button>
                </div>
            </form>
        </p-panel>
        <div class="card zoomin animation-duration-500 mt-3">
            <p-table
                #table
                [value]="provinces"
                dataKey="idRegion"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 30]"
                [paginator]="true"
                [globalFilterFields]="['nom']"
                [rowHover]="true"
                [tableStyle]="{'min-width': '50rem'}"
                styleClass="p-datatable-striped p-datatable-sm"
            >

                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText placeholder="Rechercher"  (input)="onGlobalFilter(table, $event)"/>
                        </span>

                        <span class="p-input-icon-right ml-auto">
                        <p-button [outlined]="true" icon="pi pi-file-pdf" class="mr-2" size="small"/>
                        <p-button [outlined]="true" icon="pi pi-file-excel" class="mr-2" size="small"/>
                        <p-button (click)="reset(table)" title="Actualisaer la liste" [outlined]="true" icon="pi pi-sync" severity="warning" class="mr-2" size="small"/>
                    </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th style="min-width:15rem" pSortableColumn="nom">
                            <div class="flex align-items-center">
                                Nom de la province
                                <p-sortIcon field="nom" />
                            </div>
                        </th>
                        <th style="min-width:15rem" pSortableColumn="region">
                            <div class="flex align-items-center">
                                Région
                                <p-sortIcon field="region" />
                            </div>
                        </th>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Description
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-province>
                    <tr>
                        <td style="width: 4rem">
                            <p-tableRadioButton name="type" [value]="province" (click)="onSelect(province, false)"/>
                        </td>
                        <td>
                            {{ province.nom }}
                        </td>
                        <td>
                            {{ province.region.nom }}
                        </td>
                        <td>

                        </td>
                        <td class="flex align-items-end justify-content-end">
                            <p-button
                                    icon="pi pi-pencil"
                                    [outlined]="true"
                                    [text]="true"
                                    (click)="onSelect(province, true)"
                            />
                            <p-button
                                    icon="pi pi-trash"
                                    [outlined]="true"
                                    [text]="true"
                                    severity="danger"
                                    disabled
                            />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col zoomin animation-duration-700">
        <div class="card">

        </div>
        <div class="card zoomin animation-duration-900">

        </div>
    </div>
</div>