<p-toast />
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"><p style="color: white" > Veuillez patienter</p></ngx-spinner>
<div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="mb-4 zoominup animation-duration-300">
            <p-panel>
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <p-avatar [image]="hopital.logo ?? 'assets/layout/images/logo-dark.svg'" size="large" shape="circle" />
                        <span class="font-bold">{{ hopital.nom }} ({{ hopital.sigle }})</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="icons">
                    <p-menu #menu [model]="items" [popup]="true" />
                    <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" severity="secondary" [text]="true"/>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-3">
                        <div class="flex align-items-center gap-2">

                        </div>
                        <span class="p-text-secondary">
                            Modifier il y'a 2 heures
                        </span>
                    </div>
                </ng-template>
            </p-panel>

        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-9">
        <div class="mb-4 zoominup animation-duration-300">
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-user"></i>
                            <span class="font-bold white-space-nowrap m-0">
                        Utilisateur
                    </span>
                        </div>
                    </ng-template>

                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-file-edit"></i>
                            <span class="font-bold white-space-nowrap m-0">
                        Convention
                    </span>
                        </div>
                    </ng-template>

                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-cog"></i>
                            <span class="font-bold white-space-nowrap m-0">
                        Parametre
                    </span>
                        </div>
                    </ng-template>

                </p-tabPanel>

            </p-tabView>
        </div>
    </div>
</div>
