<p-messages [(value)]="messages" [enableService]="false" [closable]="false"/>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"><p style="color: white" > Veuillez patienter</p></ngx-spinner>
<form class="form" (ngSubmit)="save()" [formGroup]="editForm">
    <div class="formgrid grid" style="width:60vw;">
        <div class="col-8">
            <div class="card">
                <div class="grid">
                    <div class="col mb-5">
                        <label for="code" class="block text-900 text-xl font-medium mb-2">Code</label>
                        <input id="code" type="text" [readOnly]="true" placeholder="Code unique de l'hopital" formControlName="codeHopital" pInputText class="w-full md:w-34rem mb-2" style="padding:1rem"/>
                        <small id="code-help">
                            Ce code est auto-généré par le système
                        </small>
                    </div>
                </div>
                <div class="grid mb-5">
                    <div class="col">
                        <label for="nom" class="block text-900 text-xl font-medium mb-2">Nom complet</label>
                        <input id="nom" type="text" placeholder="Nom complet de l'hopital" formControlName="nom" pInputText pAutoFocus [autofocus]="true" class="w-full md:w-34rem mb-2" style="padding:1rem"/>
                        <small>
                            Le nom complet de la structure sans diminution
                        </small>
                    </div>
                    <div class="col">
                        <label for="nomCourt" class="block text-900 text-xl font-medium mb-2">Nom court ou sigle</label>
                        <input id="nomCourt" type="text" placeholder="Nom court ou sigle" formControlName="sigle" pInputText class="w-full md:w-34rem mb-2" style="padding:1rem"/>
                        <small>
                            Sigle, abreviation ou accronyme
                        </small>
                    </div>
                </div>
                <div class="grid mb-5">
                    <div class="col">
                        <label for="tel" class="block text-900 text-xl font-medium mb-2">Téléphone</label>
                        <input id="tel" type="text" placeholder="Téléphone" formControlName="telephone" pInputText pKeyFilter="int" class="w-full md:w-34rem mb-2" style="padding:1rem"/>
                    </div>
                    <div class="col">
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Adresse E-mail</label>
                        <input id="email" type="text" placeholder="Adresse e-mail" formControlName="addresse" pInputText class="w-full md:w-34rem mb-2" style="padding:1rem"/>
                    </div>
                </div>
                <div class="grid">
                    <div class="col mb-5">
                        <label for="slogan" class="block text-900 text-xl font-medium mb-2">Slogan</label>
                        <input id="slogan" type="text" placeholder="Slogan" formControlName="slogan" pInputText class="w-full md:w-34rem mb-2" style="padding:1rem"/>
                    </div>
                </div>
                <div class="grid mb-5">
                    <div class="col">
                        <label for="desc" class="block text-900 text-xl font-medium mb-2">Description</label>
                        <p-editor id="desc" formControlName="description" [readonly]="true" [style]="{ height: '150px' }" class="w-full md:w-34rem mb-2"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <p-panel header="Catégorie" styleClass="mb-3">
                <p-dropdown formControlName="typeHopital" [options]="typeHopitaux" optionLabel="libelle" placeholder="Selectionner la catégorie de l'hopital" styleClass="w-full md:w-34rem mb-2"/>
            </p-panel>

            <p-panel header="Statut" styleClass="mb-2">
                <div class="flex justify-content-between mb-3">
                    <p-chip styleClass="pl-0 pr-3">
                        <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">
                            <i class="pi pi-check"></i>
                        </span>
                        <span class="ml-2 font-bold">
                            Statut
                        </span>
                    </p-chip>
                    <p-tag [value]="editForm.getRawValue().statut" [severity]="getStatut(editForm.getRawValue().statut)" />
                </div>
                <div class="flex justify-content-between">
                    <p-chip styleClass="pl-0 pr-3">
                        <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">
                            <i class="pi pi-eye"></i>
                        </span>
                        <span class="ml-2 font-bold">
                            Visibilité
                        </span>
                    </p-chip>
                    <p-tag [value]="editForm.getRawValue().online ? 'En ligne' : 'Hors ligne'" [severity]="editForm.getRawValue().online ? 'success' : 'warning'" />
                </div>
            </p-panel>
        </div>
    </div>
    <div class="flex justify-content-end flex-wrap">
        <p-button (onClick)="cancel()" label="Annuler" size="small" icon="pi pi-ban" [outlined]="true" severity="warning" class="mr-2"/>
        <p-button type="submit" label="Sauvegarder" size="small" icon="pi pi-save" class="mr-2" [disabled]="editForm.invalid"/>
    </div>
</form>