<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"><p style="color: white" > Veuillez patienter</p></ngx-spinner>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false" />
<div class="card">
    <form class="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
<!--        <label for="oldPassword" class="block text-900 font-medium text-xl mb-2">Ancien mot de passe</label>-->
<!--        <p-password id="oldPassword" formControlName="oldPassword" placeholder="Ancien mot de passe" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"/>-->

        <label for="newPassword" class="block text-900 font-medium text-xl mb-2">Nouveau mot de passe</label>
        <p-password id="newPassword" formControlName="newPassword" placeholder="Nouveau mot de passe" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"/>

        <label for="newPasswordConfirm" class="block text-900 font-medium text-xl mb-2">Confirmer Nouveau mot de passe</label>
        <p-password id="newPasswordConfirm" formControlName="newPasswordConfirm" placeholder="Confirmer Nouveau mot de passe" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"/>

        <div class="flex align-items-center justify-content-center">
            <button type="submit" pButton pRipple label="Changer" pi pi-spin class="w-full p-3 text-xl md:w-15rem" [disabled]="passwordForm.invalid"></button>
        </div>
    </form>
</div>
