<p-toast />
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"><p style="color: white" > Veuillez patienter</p></ngx-spinner>
<h4>Gestion des régions</h4>

<div class="grid">
    <div class="col zoomin animation-duration-200">
        <p-panel header="Edition de région">
            <form class="form" (ngSubmit)="save()" [formGroup]="editForm">
                <div class="field grid">
                    <label for="code" class="text-900 font-medium col-10 mb-2 md:col-2 md:mb-0">Code INSD</label>
                    <div class="col-12 md:col-10">
                        <input id="code" type="text" placeholder="Code INSD" formControlName="codeInsd" pInputText class="p-3 w-full md:w-34rem mb-2" style="padding:1rem">
                    </div>
                </div>
                <div class="field grid">
                    <label for="nom" class="text-900 font-medium col-10 mb-2 md:col-2 md:mb-0">Nom de la région</label>
                    <div class="col-12 md:col-10">
                        <input id="nom" type="text" placeholder="Nom de la région" formControlName="nom" pInputText class="p-3 w-full md:w-34rem mb-2" style="padding:1rem">
                    </div>
                </div>
                <div class="field grid">
                    <label for="desc" class="text-900 font-medium col-10 mb-2 md:col-2 md:mb-0">Description</label>
                    <div class="col-12 md:col-10">
                        <textarea id="desc" placeholder="Description" formControlName="description" rows="4" pInputTextarea class="p-3 w-full md:w-34rem mb-2" style="padding:1rem"></textarea>
                    </div>
                </div>
                <div class="flex align-items-end justify-content-end">
                    <button type="button" pButton pRipple [outlined]="true" label="Annuler" icon="fa fa-home" class="mr-2" severity="warning" size="small" (click)="resetForm()" [disabled]="editForm.invalid"></button>
                    <button type="submit" pButton pRipple label="Enregistrer" icon="pi pi-save" size="small" [disabled]="editForm.invalid"></button>
                </div>
            </form>
        </p-panel>
        <div class="card zoomin animation-duration-500 mt-3">
            <p-table
                #table
                [value]="regions"
                dataKey="idRegion"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 30]"
                [paginator]="true"
                [globalFilterFields]="['nom', 'codeInsd']"
                [rowHover]="true"
                [tableStyle]="{'min-width': '50rem'}"
                styleClass="p-datatable-striped p-datatable-sm"
            >

                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText placeholder="Rechercher"  (input)="onGlobalFilter(table, $event)"/>
                        </span>

                        <span class="p-input-icon-right ml-auto">
                        <p-button [outlined]="true" icon="pi pi-file-pdf" class="mr-2" size="small"/>
                        <p-button [outlined]="true" icon="pi pi-file-excel" class="mr-2" size="small"/>
                        <p-button (click)="reset(table)" title="Actualisaer la liste" [outlined]="true" icon="pi pi-sync" severity="warning" class="mr-2" size="small"/>
                    </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th style="min-width:15rem" pSortableColumn="codeInsd">
                            <div class="flex align-items-center">
                                INSD
                                <p-sortIcon field="codeInsd" />
                            </div>
                        </th>
                        <th style="min-width:15rem" pSortableColumn="nom">
                            <div class="flex align-items-center">
                                Nom de la région
                                <p-sortIcon field="nom" />
                            </div>
                        </th>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Description
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-region>
                    <tr>
                        <td style="width: 4rem">
                            <p-tableRadioButton name="type" [value]="region" (click)="onSelect(region, false)"/>
                        </td>
                        <td>
                            {{ region.codeInsd }}
                        </td>
                        <td>
                            {{ region.nom }}
                        </td>
                        <td>
                            {{ region.description }}
                        </td>
                        <td class="flex align-items-end justify-content-end">
                            <p-button
                                    icon="pi pi-pencil"
                                    [outlined]="true"
                                    [text]="true"
                                    (click)="onSelect(region, true)"
                            />
                            <p-button
                                    icon="pi pi-trash"
                                    [outlined]="true"
                                    [text]="true"
                                    severity="danger"
                                    disabled
                            />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col zoomin animation-duration-700">
        <div class="card">

        </div>
        <div class="card zoomin animation-duration-900">

        </div>
    </div>
</div>